{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>KU feed</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Fullscreen Background Image Slideshow with CSS3 - A Css-only fullscreen background image slideshow" />
        <meta name="keywords" content="css3, css-only, fullscreen, background, slideshow, images, content" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/demo.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/style2.css' %}" />
        <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="NAV.css">
       
    </head>
    <body id="page">
           
            <nav class="w3-top">
                    <ul>
                      <li>
                        <a href="{% url 'login' %}">Sign up</a>
                      </li>
                      
                      <li style="float:right " >
                        <a class="active" href="#">About us</a>
                      </li>
                    </ul>
                  </nav>
            </div>


            





          <ul class="cb-slideshow">
            <li><span>Image 01</span><div><h1 style="font-size:10vw;">KU FEED</h1></div></li>
            <li><span>Image 02</span><div><h3>Specially for Students of Kathmandu University</h3></div></li>
            <li><span>Image 03</span><div><h3>Resister Now</h3></div></li>
            <li><span>Image 04</span><div><h3>And Join The KU Network</h3></div></li>
            <li><span>Image 05</span><div><h3>Commute in KU Style</h3></div></li>
            <li><span>Image 06</span><div><h3>Fast, Easy and Reliable</h3></div></li>
          </ul>
         
    </body>
</html>